

<div ng-controller="leaderboardController">
  <div id="raceView">
<!--     <div ng-repeat="user in users"> -->
    <table>
      <thead>
        <tr>
          <th ng-click="viewSignin()"> <input type="submit" name="submit" value="Main" class="submitButton"/><!-- <button>BACK TO MAIN</button> -->
          <th><i class="fa fa-trophy" aria-hidden="true"></i> Username
          <th><i class="fa fa-caret-up" aria-hidden="true"></i> Wins
          <th><i class="fa fa-caret-down" aria-hidden="true"></i> Losses
          <th>Win/Loss %
      </thead>
      <tbody>
        <tr ng-repeat="users in users | orderBy: '-wins'">
          <td><img class="leaderDino" ng-src="{{randomImg()}}">
          <td>{{users.username}}
          <td>W:{{users.wins}}
          <td>L:{{users.losses}}
          <!-- displays NaN for users with no completed race entries -->
          <td>{{users.wins / users.losses * 100}}%
        <tr>
      </tbody>
    </table>
    <div class="container">
      BUY MORE COINS!
      <iframe src="https://paymentiframe.com/tag.cgi?u=http://localhost:3030/charge&k=pk_test_cwKirSoNs90p4vPuBR7EOrjA" frameBorder=0 height=230px width=350px></iframe>
    </div>
  </div>
  </div>
  <div class="footer"></div>
</div>
